<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ subject.name }}</title>
</head>
<body style="background-color:darkorange;">

    <h1> Name of subject: {{ subject.name }} </h1>
    <h2> Speciality of subject: {{ subject.name }}</h2>
    <h2> Teacher of subject: {{ subject.first_name }}</h2>

    <h3> Description </h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Commodi cum ducimus error, in ipsa nisi obcaecati officia, quo tenetur voluptas voluptates voluptatum!
        Accusantium at autem debitis deleniti dolores eius esse ex facilis fuga impedit itaque,
        iusto labore magnam maiores minus molestias nobis numquam placeat possimus quasi quis ratione repellendus
        rerum sed sint tempora tenetur ullam unde vel voluptatem? Blanditiis esse illo odio recusandae voluptatem.
        Accusantium blanditiis cum cupiditate excepturi harum inventore laborum minima mollitia officiis, placeat
        temporibus voluptas voluptatibus! Architecto aut et fugiat maxime necessitatibus perferendis recusandae
        reprehenderit repudiandae tempore veniam? Animi beatae eius eos fugiat laboriosam nemo optio placeat.
    </p>


</body>
</html>